# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @scott45

* @Justus-at-Tazama @Lenbkr @cshezi @rtkay123 @JeanPierreNell
/.github/ @scott45