REST_PORT=3000
FUNCTION_NAME='rule-901'
RULE_NAME='901'
RULE_VERSION='1.0.0'
NODE_ENV='dev'
APM_LOGGING=false
APM_SECRET_TOKEN=''
APM_URL=''
DATABASE_URL=''
DATABASE_USER=''
DATABASE_PASSWORD=''
DATABASE_CERT_PATH=''
VIEW_NAME=''
DATABASE_NAME=
GRAPH_DATABASE=
CONFIG_DATABASE=
REDIS_DB=
REDIS_AUTH=''
REDIS_HOST=''
REDIS_PORT=
CACHE_TTL=
LOGSTASH_PORT=''

